@font-face {
    font-family: "VCR Mono";
    src: url("./vcr_osd_mono/VCR_OSD_MONO_1.001.ttf");
}

body {
    height: auto;
    width: auto;
    background-color: #DBF4FF;
    color: #4AC9FF;
    font-family: "VCR Mono";
    background-image: 
        linear-gradient(to right, #4ac9ff 1px, transparent 1px),
        linear-gradient(to bottom, #4AC9FF 1px, transparent 1px);
    background-size: 30px 30px;
}

#currCity {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


#currTemp {
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#searchbar {
    margin: auto;
    width: 90%;
    height: 50px;
    border: solid 1px #009ADD;
    border-radius: 10em;
    background: linear-gradient(180deg, #FFF 0%, #DBF4FF 51.44%, #FFF 91.35%);
}